*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  inline-size: 1140px;
  gap: 30px;
  margin: 133px 0;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 17px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-block-size: 54px;
  padding-block-end: 2px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  line-height: 21.6px;
  font-size: 18px;
  padding-block-end: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  inline-size: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  inline-size: 225px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  line-height: 21.6px;
  border-block-start: none;
  border-block-end: none;
  border-inline-start: 1px #fff solid;
  border-inline-end: 1px #fff solid;
  font-family: inherit;
  appearance: none;
  cursor: text;
}

.result__video-container,
.result__video,
.search-form__textfield,
.button,
.content__list,
.content__list-item,
.content__card-link:focus {
  outline: none;
}

.search-form__label:has(:focus-visible){
  outline: 1px #fff solid;
  outline-offset: 1px;
}

.result__video:focus-visible,
.search-form__submit-button:focus-visible,
.content__card-link:focus-visible,
.more-button:focus-visible{
  outline: 1px #fff solid;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover,
.button:hover,
.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.search-form__pseudo-checkbox {
  display: grid;
  inline-size: 19px;
  block-size: 19px;
  background-color: #000;
  border: 1px #fff solid;
  vertical-align: middle;
  place-content: center;
}

input[type="checkbox"]:checked + span::before{
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.button {
  background-color: transparent;
  border: 1px #fff solid;
  color: #fff;
  block-size: 34px;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  line-height: 21.6px;
  font-family: inherit;
  cursor: pointer;
}

.search-form__submit-button {
  inline-size: 194px;
  align-self: flex-end;
}

.more-button {
  padding: 0 143px;
  margin-inline-start: 2px;
  margin-block-end: 2px;
}

.button:active {
  background-color:#545050;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  padding-block-end: 24px;
  font-family: Oswald;
  /* line-height: 70.5px; */
  line-height: 71px;
  font-size: 75px;
  text-transform: uppercase;
}

.content__accent {
  color: grey;
}

.content__list {
  block-size: 298px;
  overflow: auto;
  position: relative;
  /* Убрала полосы прокрутки в Firefox*/
  /* scrollbar-width: none; */
}

/* .content__list::-webkit-scrollbar {
  Убрала полосы прокрутки в Chrome, Edge, Opera и Safari
  display: none;
} */

.content__list-item {
  inline-size: 394px;
  block-size: 107px;
}

.content__list-item:not(li:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  display: block;
  margin: 2px 0 0 2px;
  padding: 2px;
  inline-size: 100%;
  block-size: 100%;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color:#545050;
}

.content__video-card {
  display: flex;
  align-items: start;
  block-size: 100%;
  justify-content: space-between;
}

.content__video-card-title {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  padding-block-end: 4px;
}

.content__video-card-thumbnail {
  object-fit: cover;
  inline-size: 194px;
  block-size: 103px;
}

.content__video-card-description-container {
  flex-grow: 2;
  block-size: 100%;
}

.content__video-card-description {
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
